.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.continue-watching-bg {
  background: rgb(243, 31, 67);
  background: linear-gradient(
    90deg,
    rgba(243, 31, 67, 1) 0%,
    rgba(165, 9, 62, 1) 49%,
    rgba(103, 0, 44, 1) 100%
  );
}
