<div
    class="new-trailer bg-slate-700 h-[60vh] rounded-2xl overflow-y-auto relative no-scrollbar p-2 mt-4"
  >
    <div class="rounded-2xl pt-2 px-4 mb-4">
      <div class="font-semibold text-lg">Continue watching</div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-1 md:grid-cols-2">
      <div class="px-4 mb-4" *ngFor="let serie of continue_watching">
        <div class="flex items-center justify-between">
          <div class="">
            <img
              [src]="serie.poster_path"
              alt=""
              class="rounded-lg object-cover object-top h-[14vh] w-[10vh]"
            />
          </div>
          <div class="flex-1 ml-4">
            <div class="font-semibold truncate max-w-[80%]">
              {{ serie.title }}
            </div>
            <div class="text-sm text-slate-400">
              {{ serie.category }}
            </div>
          </div>
          <div class="bg-gray-500 rounded-full p-1.5">
            <svg
              width="10px"
              height="10px"
              viewBox="-3 0 28 28"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
              fill="#ffffff"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <title>play</title>
                <desc>Created with Sketch Beta.</desc>
                <defs></defs>
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                  sketch:type="MSPage"
                >
                  <g
                    id="Icon-Set-Filled"
                    sketch:type="MSLayerGroup"
                    transform="translate(-419.000000, -571.000000)"
                    fill="#ffffff"
                  >
                    <path
                      d="M440.415,583.554 L421.418,571.311 C420.291,570.704 419,570.767 419,572.946 L419,597.054 C419,599.046 420.385,599.36 421.418,598.689 L440.415,586.446 C441.197,585.647 441.197,584.353 440.415,583.554"
                      id="play"
                      sketch:type="MSShapeGroup"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
